* {
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 0; padding: 0;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 15px;
}

/* section home */

#home {
    text-align: center;
    border: 1px solid #000;
}

.video-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}