* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Nanum Pen Script', cursive; */ 
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none;
    color: white;
}

div {
    box-sizing: border-box;
}

li {
    list-style: none;
}


header {
    position: absolute;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.header .logo h1 {
    font-size: 20px;
}

.header .nav i {
    font-size: 35px;
}


#home {
    background: url(./images/bg1.jpg) no-repeat center/cover;
    height: 100vh;
    color: white;
}

.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.inner h2 {
    font-size: 85px;
    margin-bottom: 10px;
}

.inner h2 span {
    display: block;
    font-size: 110px;
    margin-top: 20px;
}

.inner p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    margin-bottom: 80px;
}

.btn-style {
    background-color: black;
    color: white;
    font-family: 'Lobster', cursive;
    padding: 12px;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
}

.inner i {
    display: block;
    position: relative;
    left: 45%;
    transform: translateX(-45%);
    font-size: 30px;
    margin-top: 100px;
    animation: down 2s infinite linear;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

@keyframes down {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(50px);
    }
}